@charset "UTF-8";
* {margin: 0; padding: 0; text-decoration: none;font-family: Arial, Helvetica, sans-serif;}

a {
    color: #f9faf8;
}

h1 {
    font-size: 48px;
}

.menu_sup {
    background-color: #1f2937;
    padding: 10px 70px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    color: #f9faf8;
    padding: 0px;
    margin: 0px;
    width: 50%;
}

.menu02 {
    display: flex;
    justify-content: space-between;
}

.menu03 {
    display: flex;
    flex-direction: column;
}

.signup {
    background-color: #3882f6;
    font-size: 20px;
    height: 40px;
    width: 120px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu04 {
    background-color: darkgrey;
    height: 180px;
    width: 402px;
    padding-bottom: 30px;
    padding-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-menu {
    font-size: 20px;
    color: #1f2937;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-menu {
    display: flex;
    height: 160px;
    justify-content: center;
    align-items: center;
}

.image {
    background-color: brown;
    border-color: #3882f6;
    border-style: solid;
    border-radius: 10px;
    margin: 20px;
    height: 150px;
    width: 150px;
}

.inf-menu {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inf-text {
    width: 150px;
    margin: 20px;
    display: flex;
}

.middle-text {
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 50px 50px 0px 50px;
    font-size: 24pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-mid {
    width: 800px;
}

.autor-text {
    background-color: #e5e7eb;
    font-size: 14pt;
    color: #1f2937;
    padding: 0px 80px 50px 50px;
    display: flex;
    justify-content: flex-end;
}

.menu-inf {
    background-color: #3882f6;
    color: #e5e7eb;
    height: 100px;
    width: 800px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 60px;

}

.btn02 {
    height: 35px;
    width: 100px;
    border-style: solid;
    border-color: #f9faf8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
    